# Port server Anda
PORT=3000

# URL Koneksi Redis (alamat lokal bawaan)
REDIS_URL=redis://127.0.0.1:6379

# Masukkan API key gratis Anda dari: https://www.visualcrossing.com/weather-api
WEATHER_API_KEY=NRMARYHTKB6KR4W9HQQBWP2ZD